
 .container{
    margin-bottom: 100px;
}

/* Banner start */
.orange-bg{
background-color:rgba(133, 193, 233);  
border-radius: 10px;
padding: 30px;
}

.carousel-item{
padding: 10px 20px;

}

.price{
color:#FF136F;
}
/* Banner end */



/* Categoriesstart */
.Categories h2{
    text-align: center;
}

.Categories{
    width: 100%;
    background-color:#fceae8;
    border-radius: 10px;
    padding: 30px; 
}
/*Categories card end */


/* copyright start */
footer p{
    text-align: center;
    font-size: 12px;
}
/* copyright end */